@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

body {
    background: #EDEDED;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: bold;
}


/* ___________________________________navbar__________________________________  */
.nav-bar {
    background: white;
}

.nav-bar .sidebaricon {
    padding: 5px 10px 2px 10px;
    background: #F0F0F0;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
}

.sidebaricon .fa-bars {
    color: #742D8E;
}

.sidebaricon .fa-bars:hover {
    color: #491D69;
}

.search {
    margin-top: 5px;
    background: rgb(255, 255, 255);
    border-radius: 25px;
    width: fit-content;
    display: flex;
    padding: 4px;
    float: right;
}

.search input {
    background: transparent;
    transition: 0.4s;
    outline: none;
    padding: 0;
    border: 0;
    width: 0;
}

.search .fa-chevron-left {
    color: #742D8E;
    margin-top: 10px;
    background: transparent;
    transition: 0.4s;
    outline: none;
    padding: 0;
    border: 0;
    width: 0;
}

.search:hover input {
    padding: 0px 0px 0px 20px;
    border-radius: 25px;
    width: 200px;
}

.search:hover .fa-chevron-left {
    margin-top: 10px;
    padding: 0px 0px 0px 17px;
}

.search:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.search .fa-magnifying-glass {
    color: #742D8E;
    transition: 0.4s;
}

.search .searchicon {
    background: #ffffff;
    border-radius: 50%;
    padding: 5.5px;
}

/* ___________________________________sidebar__________________________________  */
.offcanvas-header {
    -webkit-box-shadow: 0px 21px 50px -28px #000000;
    box-shadow: 0px 21px 50px -28px #000000;
}

.closeicon {
    background: #ffffff;
    border: none;
}

.closeicon .fa-circle-xmark {
    color: #742D8E;
}

.closeicon .fa-circle-xmark:hover {
    color: #491D69;
}

.nav li label {
    cursor: pointer;
}

.nav li a {
    text-decoration: none;
    color: #742D8E;
    cursor: pointer;
}

.nav li a:hover,
.fa-solid:hover {
    text-decoration: none;
    color: #491D69;
    cursor: pointer;
}

/* ___________________________________volver__________________________________  */
.back {
    background: #EDEDED;
    padding: 15px 10px 15px 10px;
}

.back a {
    color: #742D8E;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

/* ___________________________________seccion1__________________________________  */

@media (max-width: 740px) {
    .seccion1 {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: white;
    }
}

@media (min-width: 740px) {
    .seccion1 {
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
}

.seccion1 .content {
    margin-top: 195px;
    text-align: left;
    word-wrap: break-word;
}

.seccion1 .content .title {
    font-weight: normal;
    font-size: 26px;
}

.seccion1 .content .subtitle {
    font-size: 26px;
    margin-top: -25px;
}

/* ___________________________________seccion2__________________________________  */

.seccion2 .first {
    padding: 0px 20px;
    word-wrap: break-word;
}

.seccion2 .title {
    color: #1A0537;
    font-size: 22px;
}

.seccion2 .text {
    font-weight: normal;
    color: #34154F80;
    margin-top: -20px;
    font-size: 16px;
}

/* ___________________________________seccion3__________________________________  */
.seccion3 .select {
    border: 2px solid white;
    background: #F6F6F6;
    text-decoration: none;
    border-radius: 15px;
    padding: 5px 20px;
    color: #7E3D96;
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
}

.seccion3 .dropdown-menu {
    border: 2px solid white;
    background: white;
    border-radius: 15px;
}

.seccion3 .dropdown-item {
    border-bottom: 1px solid #F6F6F6;
    color: #7E3D96;
}

.seccion3 .collapse-item button {
    border: 1px solid #BBC3CB;
    background: #BBC3CB;
    border-radius: 10px;
    padding: 5px 10px;
    color: #ECEEF1;
}

.seccion3 .result {
    padding: 0px 10px;
    color: #34154F;
    font-size: 16px;
    margin-top: -55px;
}

.seccion3 .linea-menus {
    padding: 10px;
    width: 100%;
}

.seccion3 .last {
    background: white;
    border-radius: 20px;
    height: 400px;
    word-wrap: break-word;
}

.seccion3 .last a {
    text-decoration: none;
}

.seccion3 .img-b {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 241px;
    /* opacity: 0.8; */
}

.seccion3 .img-b:hover {
    opacity: 1;
}

.seccion3 .imagenes-wrapper {
    position: relative;
    text-align: center;
}

.seccion3 .title {
    text-align: left;
    position: absolute;
    margin-top: 100px;
    color: white;
    padding: 20px;
    left: 0px;
    top: 0px;
    font-size: 26px;
}

.seccion3 .content {
    text-align: justify;
    color: #666666;
    padding: 20px;
}

.seccion3 .exp {
    text-align: justify;
    margin-top: -15px;
    cursor: default;
}

.seccion3 .exp a {
    padding: 0px 20px 0px 0px;
    color: #742D8E;
    cursor: default;
}

.seccion3 .exp a:hover {
    color: #491D69;
    cursor: default;
}

.seccion3 .date {
    padding: 0px 20px 0px 20px;
    text-align: end;
    font-style: italic;
    margin-top: -15px;
    color: #6E7279;
}

.seccion3 .seemore,
.seemore2,
.seemore3,
.seemore4,
.seemore5,
.seemore6 {
    border-radius: 25px;
    padding: 10px 90px;
    background: none;
    border: 2px solid #742D8E;
    color: #742D8E;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;
}

.seccion3 .seemore:hover,
.seemore2:hover,
.seemore3:hover,
.seemore4:hover,
.seemore5:hover,
.seemore6:hover {
    background: linear-gradient(#742D8E, #491D69);
    border: 2px solid #491D69;
    color: #FFFFFF;
    font-size: 16px;
}

/* ___________________________________footer__________________________________  */
footer {
    background: linear-gradient(#491D69, #34154F);
    border-radius: 20px 20px 0 0;
    color: white;
}

footer .title {
    padding: 26px 0px 0px 0px;
}

footer .down {
    padding: 19px 0px 0px 0px;
}

footer .down .fa-down {
    background: #FFFFFF5D;
    border-radius: 50px;
    padding: 10px;
}

footer .line {
    border-left: 1px solid #FFFFFF;
    margin-top: 29px;
    opacity: 0.1;
    height: 90%;
}

footer .apps {
    margin-left: -38px;
}

footer .hr {
    border-top: 1px solid #FFFFFF;
    margin-top: 14px;
    opacity: 0.27;
    width: 100%;

}

footer .contenidoApps {
    color: white;
    text-decoration: none;
}

footer .contenidoApps:hover {
    color: white;
    text-decoration: underline;
}

footer .copyright {
    background: linear-gradient(#34154F74, #34154F, #34154F72);
    position: relative;
    color: #FFFFFFCC;
    padding: 20px;
}

footer .copyright label {
    text-align: left;
    font-size: 6.5px;
}