<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/css/bootstrap.min.css">
    <script src="../js/fontawesome.js"></script>
    <title>Expreso Digital</title>
    <link rel="stylesheet" href="../style/contactanosstyle.css">
</head>

<link rel="stylesheet" href="">
<body>
    <nav class="nav-bar p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <button class="sidebaricon" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                        aria-controls="offcanvas"><i class="fa-sharp fa-solid fa-bars fa-lg"></i></button>
                </div>
                <div class="col-5">
                    <img class="img-logo" src="../style/img/img-index/logo-ExpresoDigital.png" width="190" height="60"
                        alt="">
                </div>
                <div class="col-5">
                    <form class="search">
                        <i class="fa-solid fa-chevron-left"></i>
                        <input type="search" placeholder="Buscar">
                        <div class="searchicon">
                            <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" data-bs-keyboard="false"
        data-bs-backdrop="false" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
            <img class="img-logo" src="../style/img/img-index/logo-ExpresoDigital.png" width="160" height="45" alt="">
            <button class="closeicon" type="button" data-bs-dismiss="offcanvas" aria-label="Close"><i
                    class="fa-regular fa-circle-xmark fa-xl"></i></button>
        </div>
        <div class="offcanvas-body">
            <div id="sidebar">
                <div class="nav flex-column py-3">
                    <ul class="list-unstyled ps-0">
                        <li>
                            <a href="../vistas/index.php">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-2 text-center">
                                            <i class="fa-solid fa-house fa-lg"></i>
                                        </div>
                                        <div class="col-10">
                                            <label>Inicio</label>
                                        </div>
                                    </div>
                                    <hr class="border border-secondary">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../vistas/blog.php">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-2 text-center">
                                            <i class="fa-solid fa-square-pen fa-lg"></i>
                                        </div>
                                        <div class="col-10">
                                            <label>Blogs</label>
                                        </div>
                                    </div>
                                    <hr class="border border-secondary">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../vistas/proyectos.php">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-2 text-center">
                                            <i class="fa-solid fa-lightbulb fa-lg"></i>
                                        </div>
                                        <div class="col-10">
                                            <label>Proyectos</label>
                                        </div>
                                    </div>
                                    <hr class="border border-secondary">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../vistas/equipos.php">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-2 text-center">
                                            <i class="fa-solid fa-users fa-lg"></i>
                                        </div>
                                        <div class="col-10">
                                            <label>Equipos</label>
                                        </div>
                                    </div>
                                    <hr class="border border-secondary">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../vistas/aplicaciones.php">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-2 text-center">
                                            <i class="fa-solid fa-rocket fa-lg"></i>
                                        </div>
                                        <div class="col-10">
                                            <label>Aplicativos</label>
                                        </div>
                                    </div>
                                    <hr class="border border-secondary">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="../vistas/contactanos.html">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-2 text-center">
                                            <i class="fa-solid fa-headset fa-lg"></i>
                                        </div>
                                        <div class="col-10">
                                            <label>Contactanos</label>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="back sticky-top">
        <div class="container ">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-2">
                    <a href="../vistas/index.php"><i
                            class="fa-solid fa-chevron-left fa-lg"></i><label>Volver</label></a>
                </div>
            </div>
        </div>
    </div>
    <div class="seccion1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 first">
                    <p class="title">Contactanos</p>
                    <p class="text">SI necesitas ayuda no dudes en usar nuestros canales de contacto.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="center">
                        <i class="fa-solid fa-message"></i> &nbsp; <a href="">Centro de ayuda TI</a>
                    </div>
                </div>
            </div>
            <img class="linea-menus" src="../style/img/img-index/linea-menus.png" alt="">
        </div>
    </div>
    <style>
        .seccion1 {
            background: #E5E6E7;
            border-radius: 0px 0px 20px 20px;
        }

        .seccion1 .first {
            padding: 0px 20px;
        }

        .seccion1 .title {
            margin-top: 15px;
            color: #1A0537;
            font-size: 22px;
        }

        .seccion1 .text {
            font-weight: normal;
            color: #34154F80;
            margin-top: -20px;
            font-size: 16px;
        }

        .seccion1 .title {
            margin-top: 15px;
            color: #1A0537;
            font-size: 22px;
        }

        .seccion1 .center {
            border: 2px solid white;
            background: #F7F7F7;
            border-radius: 10px;
            padding: 20px 30px;
            color: #742D8E;
            margin-top: 15px;
        }

        .seccion1 .center a {
            color: #742D8E;
        }

        .seccion1 .linea-menus {
            width: 100%;
        }

        /* ___________________________________seccion2__________________________________  */
        .seccion2 .data {
            padding: 0px 50px 0px 50px;
            color: #1A053780;
            font-size: 16px;
        }

        .seccion2 .data input {
            border: 1px solid #E2E5E8;
            padding: 10px 20px;
        }

        .seccion2 .validation {
            color: #FC7878;
        }

        .seccion2 .data ::placeholder {
            color: #BEC7D0;
            font-size: 15px;
        }

        .seccion2 select {
            color: #BEC7D0;
            font-size: 15px;
            padding: 10px 20px;
        }

        .seccion2 .form-check-input {
            padding: 14px;
        }

        .seccion2 .terminos,
        a {
            color: #742D8E;
            font-size: 14px;
        }

        .seccion2 .seemore {
            border-radius: 25px;
            padding: 10px 110px;
            background: none;
            border: 2px solid #742D8E;
            color: #742D8E;
            font-size: 16px;
            font-weight: bold;
            transition: 0.5s;
        }

        .seccion2 .seemore:hover {
            background: linear-gradient(#742D8E, #491D69);
            border: 2px solid #491D69;
            color: #FFFFFF;
            font-size: 16px;

        }
    </style>
    <div class="seccion2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>Datos personales: </p>
                    <form class="data">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <label class="validation">*</label> <label class="form-label">Nombres y
                                    apellidos</label>
                                <input type="text" class="form-control" placeholder="Nombre y apellido completo">
                                <br>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <label class="validation">*</label> <label class="form-label">Correo electronico</label>
                                <input type="email" class="form-control" placeholder="Correo electronico">
                                <br>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <label class="validation">*</label> <label class="form-label">Celular</label>
                                <input type="number" class="form-control" placeholder="Numero celular">
                                <br>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <label class="validation">*</label> <label class="form-label">Area</label>
                                <select class="form-select">
                                    <option value="">Elige un area</option>
                                    <option value="">Experiencia</option>
                                    <option value="">Tecnologia</option>
                                    <option value="">Analitica</option>
                                </select>
                                <br>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="validation">*</label> <label class="form-label">Asunto</label>
                                <input type="text" class="form-control">
                                <br>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="validation">*</label> <label class="form-label">Mensaje</label>
                                <textarea class="form-control" name="" rows="5"></textarea>
                                <br>
                            </div>

                            <div class="col-sm-1 col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox">
                            </div>
                            <div class="col-sm-10 col-md-6 col-lg-6">
                                <p class="terminos">Acepto los <a href="">terminos y condiciones </a> y la <a
                                        href="">politica para
                                        los tratamientos de datos personales</a></p>
                                <br>
                            </div>
                            <div class="col-12 text-center">
                                <button class="seemore" type="submit">Enviar mensaje</button>
                                <br>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-10 text-start">
                    <div class="title">
                        <i class="fa-solid fa-rocket fa-lg"></i> &nbsp; <label for="">APPS</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="down text-end">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <div class="fa-down">
                                <i class="fa-solid fa-angle-down "></i>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="col-12 text-start">
                    <div class="collapse navbar-collapse" id="navbarText">
                        <div class="container">
                            <div class="row">
                                <div class="col-2">
                                    <div class="line text-center">
                                    </div>
                                </div>
                                <div class="col-10 text-start">
                                    <div class="apps">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-2">
                                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                        <li class="nav-item">
                                                            <p class="title">Novaventa</p>
                                                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                                <li class="nav-item">
                                                                    <h6>SVN</h6>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <h6>SVNQA2</h6>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <h6>Jira</h6>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-2">

                                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                        <li class="nav-item">
                                                            <p class="title">Logistica</p>
                                                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                                <li class="nav-item">
                                                                    <h6>SCO</h6>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>

                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-2 ">

                                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                        <li class="nav-item">
                                                            <p class="title">Gestion</p>
                                                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                                <li class="nav-item">
                                                                    <h6>Athenea</h6>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-2 ">
                                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                        <li class="nav-item">
                                                            <p class="title">Servicio al cliente</p>
                                                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                                <li class="nav-item">
                                                                    <h6>Call Center</h6>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <br>
                    <div class="hr"></div>
                </div>
                <br><br>
                <div class="col-6 text-center">
                    <img src="../style/img/img-index/logo-novaventa.png" alt=" logo">
                </div>
                <div class="col-6 text-center">
                    <img src="../style/img/img-index/logo-nutresa.png" alt=" logo">
                </div>
            </div>
        </div>
        <br><br>
        <div class="copyright">
            <div class="container text-center">
                <div class="row">
                    <div class="col-12 text-center">
                        <i class="fa-sharp fa-regular fa-copyright fa-xl"></i>
                        <label for="">COPYRIGHT 2023
                            NOVAVENTA S.A.S.
                            <br>
                            TODOS
                            LOS DERECHOS RESERVADOS</label>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery.min.js"></script>
</body>

</html>